.normal {
    background-color: #4f4f4f;
}
.fighting {
    background-color: #888888;
}
.flying {
    background-color: #73c0ff;
}
.poison {
    background-color: #7f01fe;
}
.ground {
    background-color: #8b4513;
}
.rock {
    background-color: #707070;
}
.bug {
    background-color: #1ec742;
}
.steel {
    background-color: #4d4d4d;
}
.fire {
    background-color: #fc3232;
}
.water {
    background-color: #4451ff;
}
.grass {
    background-color: #1f7c1c;
}
.electric {
    background-color: #fffc44;
}
.psychic {
    background-color: #e2518c;
}
.ice {
    background-color: #a4e2f8;
}
.dragon {
    background-color: #7163c0;
}
.dark {
    background-color: #533a35;
}
.fairy {
    background-color: #e7a5e2;
}
.unknown {
    background-color: #4451ff;
}
.shadow {
    background-color: #525252;
}